.student {
    display: flex;
    align-items: center;
  }
  
  .student__date {
    color: #666;
    margin-right: 8px;
  }
  
  .student__name {
  
  }
  
  .student__remove {
    margin-left: auto;
  }
  